.title {
    text-align: center;
}

.main-grid {
    display: grid;
    justify-content: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

.img {
    width: 600px;
    height: 450px;
}
.grid-item1 {
    grid-column: span 2;
    border: 1px solid grey;
    padding: 20px;
    width: 700px;
    text-align: center;
}
.grid-item2 {
    border: 1px solid grey;
    padding: 20px;
    width: 700px;
    text-align: center;
}

body {
    background-image: url(images/vert.jpg);
  }
  header {
    background-color: white;
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: auto; 
    color: black;
}

.search-bar,
.login-bar,
.home-button {
    color: black;
    margin-left: 10px; 
}